@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

body {
    font-family: 'Edu TAS Beginner', cursive;
}

header {
    background-color: black;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

section {
    padding: 20px;
}

#main-content {
    background-color: rgba(0, 0, 0, 0.356);
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

#contact-form {
    background-color: white;
    color: #000000;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: rgba(0, 0, 0, 0.356);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#social-media {
    background-color: rgba(0, 0, 0, 0.356);
    color: #FFFFFF;
}

#social-media ul {
    list-style: none;
    padding: 0;
}
#social-media ul li {
    display: inline;
    margin-right: 10px;
    
}
#social-media li a img {
    height: 32px;
}

#social-media li {
    margin: 5px 0;
}
#social-media li a {
    text-decoration: none;
}

#address {
    background-color: white;
    color: black;
}
